footer {
    width: 90%;
    margin: .5em auto;
    height: 10vh;
    border: 1px solid black;
    border-radius: 2px;
    background-color: tan;
    display: flex;
    justify-content: center;
    align-items: center;
}
